{% extends "layout.html" %}
{% block title %}
    Sedentary Home
{% endblock %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='countdown.js') }}"></script>
    <script>
        function startcountdowns() {
            {% for w in work -%}
                {%- if w.FinishedDate > 0 -%}
                    countdownIn({{w.FinishedDate}}, document.getElementById("counter{{ loop.index }}"));
                {% endif -%}
            {%- endfor -%}
        }
        window.onload=startcountdowns;
    </script>

{% endblock %}
{% block body %}
    <h2>{{ self.title() }}</h2>
    {% if g.user and stats%}

        <table>
            <thead>
            <tr>
                <th> Stat </th>
                <th> Current value </th>
            </tr>
            </thead>
            <tfoot>
            {% for name, stat in stats.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ stat }}</td>
            </tr>
            {% endfor %}
            </tfoot>
        </table>
        <br/>
        {% for w in work %}
            Task {{ w.Type }}
            {% if w.FinishedDate > 0 %}
                <p id="counter{{ loop.index }}"></p><br>
            {% endif %}
        {% endfor %}
    {% endif %}
        <a href="{{ url_for('work') }}">collect</a><br/>
        <a href="{{ url_for('startwork', x='labour') }}">labour</a><br/>
        <a href="{{ url_for('startwork', x='woodcutting') }}">woodcutting</a><br/>
        <a href="{{ url_for('startwork', x='mining') }}">mining</a><br/>
        <a href="{{ url_for('startwork', x='buy_woodaxe_1') }}">buy an axe for 100 g!</a><br/>
        <a href="{{ url_for('startwork', x='mining') }}">mining</a><br/>
        <a href="{{ url_for('startwork', x='mining') }}">mining</a><br/>
{% endblock %}
